


#gallery ul img {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #3E3E3E;
    border-style: solid;
    border-width: 5px 5px 20px;
}



.respuestas{
width:532px; 
height:63px;



}


.opcionespie{
float:left;
margin-left:100px;
margin-right:100px;
margin-top:20px;


}






.separacionarriba{

margin-top:10px;
border: 1px solid #E3E3E3;

}



#contenedor {
width:787px;
margin: 0 auto;

}

#top {
margin:0px;
width:787px;
height:166px;
background: url(images/header.jpg) no-repeat scroll center top;
}

#contenidos {
position:relative;
width:970px;
height:100%;
}

#pie {
position:relative;
clear:both;
width:970px;
height:70px;


}

.izquierda {
float:left;
width:130px;
padding-left:20px;
margin-right:10px;
background:#fff;
border:1px solid #ccc;
margin-top: 10px;
}

.izquierdabodega {
float:left;
width:250px;
padding-left:20px;
margin-right:10px;
background:#fff;
margin-bottom:20px;
margin-top: 10px;
}


.centro {
position:relative;
float:left;
width:748px;
padding-left:20px;
padding-bottom:20px;
margin-bottom:25px;
border:1px solid #ccc;
margin:0 8px;
background: none repeat scroll 0 0 #FFFFFF;
height:600px;
}

.centrobodega {
position:relative;
float:left;
width:748px;
padding-left:20px;
padding-bottom:20px;
margin-bottom:25px;
border:1px solid #ccc;
margin:0 8px;
background: none repeat scroll 0 0 #FFFFFF;
height:600px;
}

.derecha {
position:relative;
float:right;
width:230px;
height:100%;
padding:5px;
margin-top: 10px;
color:#666;
margin-left:15px;
padding-left:20px;
margin-bottom:20px;
margin-right:20px;
background: none repeat scroll 0 0 #FFFFFF;
top:14px;

}

.iconos {
position:relative;
float:right;
width:230px;
height:100%;
padding:5px;
margin-top: 10px;
color:#666;
margin-left:15px;
padding-left:20px;
margin-bottom:20px;
margin-right:20px;
top:-7px;

}

.cajaderecha{

position:relative;
float:right;
width:230px;
height:250px;
padding:5px;
margin-top: 10px;
color:#666;
margin-left:15px;
padding-left:20px;
margin-bottom:20px;
margin-right:20px;
background: none repeat scroll 0 0 #FFFFFF;
top:-450px;




}

.separacion{

margin-left: 55px;

}

.cajapuntuacion{

position:relative;
float:right;
width:150px;
height:100px;
padding:5px;
margin-top: 10px;
color:#666;
margin-left:15px;
padding-left:20px;
margin-bottom:20px;
margin-right:20px;
background: none repeat scroll 0 0 #FFFFFF;
top:-850px;
right: 200px;
border-radius: 10px;



}

.derechabodega {
position:relative;
float:right;
width:230px;
height:100%;
padding:5px;
margin-top: 10px;
color:#666;
margin-left:15px;
padding-left:20px;
margin-bottom:20px;
margin-right:20px;
background: none repeat scroll 0 0 #FFFFFF;
top:-580px;
left:-200px;

}


.topvinos {

border: 1px solid #000000;
margin-bottom:10px;
height:500px;


}


.actividad{
padding-top:20px;
padding-bottom:20px;
border-radius: 15px;
width:600px;
padding-right:20px;
margin-left:60px;

}

.derechainformacion{
padding-top:20px;
padding-bottom:20px;
border-radius: 15px;
width:600px;
padding-right:20px;
margin-left:20px;
width:450px;
height:400px;



}

.infouser{
padding-top:20px;
padding-bottom:20px;
border-radius: 15px;
border:1px solid #ccc;
padding-right:20px;
margin-top:20px;
margin-right:20px;
margin-left:20px;


}



.avatartopbodega{
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 30px;
    overflow: hidden;
    padding: 1px;
    width: 30px;
    margin-left:5px;
    margin-bottom:10px;


}

.events {
    margin: 0;
    padding: 0;
    margin-top:20px;
    list-style: none outside none;
}




.inline {
    display: inline-block;

}


.details{

margin: 0 90px;


}

.linkresaltado{

display: block;
    font-size: 19px;
    font-weight: bold;



}

.detailstopvinos{

margin: 0 60px;
}


.detailsnormal{

margin: 0 30px;

}


input{

border-radius: 5px;


}

#index_logo {
    padding-top: 30px;
    position: relative;
    text-align: center;
}

#header_pub {
    height: 170px;
    position: relative;
    text-align: center;
    top: 0;
    width: 985px;
}

#wrapper {
    color: #303030;
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    width: 985px;
}

.avatarUsuario {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BFBFBF;
    float: left;
    height: 60px;
    overflow: hidden;
    padding: 1px;
    width: 60px;
    margin-left:20px;
    margin-bottom:10px;
}

input.index_input2 {
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    border-width: 1;
    clear: both;
    color: #7D7D7D;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 16px;
    margin: 0 0 12px;
    outline: medium none;
    padding: 0 8px;
    width: 200px;
}

.registro {

background: none repeat scroll 0 0 #FFFFFF;
margin: 0 8px;
width:770px;

}

.module {
    
    border-radius:10px;
    line-height: 1.5;
    padding: 40px;
}

.field_row {
    font-size: 14px;
    margin: 0 0 10px;
    position: relative;
}

fieldset{

border-style:none;

}

.login {
    font-size: 12px;
    line-height: 12px;
    min-height: 140px;
}

input.index_input2 {
    border: 1px solid #393939;
    border-radius: 4px 4px 4px 4px;
    clear: both;
    color: #7D7D7D;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 16px;
    margin: 0 0 12px;
    outline: medium none;
    padding: 0 8px;
    width: 220px;
}

.selector{


    clear: both;
    color: #7D7D7D;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 16px;
    margin: 0 0 12px;
    outline: medium none;

    width: 240px;


}

label.index_descripcion {
    clear: both;
    float: left;
    font-size: 12px;
    line-height: 16px;
}

.cabeceraRegistro{

padding-bottom:10px;


}

.title{
padding-top:20px;
padding-left:20px;


}

#header h1 {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}



h4 {
    
   
    color: #000000;
    display: block;
    font: bold 0.85em/120% arial,helvetica;
    height: 1.8em;
    padding: 0.3em 0 0 5%;
    position: relative;
    width: 95%;



}

a {
    color: #832629;
    outline: medium none;
    text-decoration: none;
}


#footer {
    background: url("images/footer.jpg") no-repeat scroll center top #FFFFFF;
    clear: both;
    color: #555555;
    font-size: 90%;
    height: 34px;
    padding: 0;
    text-align: center;
}

#subheader {
    background: url("images/bgmenu.jpg") repeat-y scroll center center #A90000;
    color: #FFFFFF;
    height: 70px;
    width: 787px;
}

.opciones
{
    border-bottom: medium none;
    border-right: 1px solid #C66227;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    position: relative;


}

#buscador{

float:center;
padding-top:20px;
margin-left:460px;


}

input.buscadorvinos {
   
    clear: both;
    color: #7D7D7D;
    font-size: 16px;
    height: 30px;
    line-height: 16px;
    margin: 0 0 12px;
    outline: medium none;
    padding: 0 8px;
    width: 200px;
    left:500px;
    border: 1px solid #393939;
}

.menuOpciones{

float:left;


}

.errorMsg{

margin-bottom:20px;

}
.relieve{

    text-shadow: black 2px 2px 5px;
}

.altaVino{

    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 8px;
    width: 770px;


}

.tituloActividad{

font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color:#000000;


}
